# Git Ignore File

# Secrets
.aws
.env

# Local
.DS_Store
node_modules/
/dist/
.env.local
.env.*.local
.npm

# Logs
/logs
*.log
npm-debug.log*

# Editors
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw*

# Runtime
pids
*.pid
*.seed
*.pid.lock

# Nuxt.js
.nuxt
dist